<a href="https://colab.research.google.com/github/ai7dnn/AI-DNN/blob/main/pybasic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for num in range(10):	# 0이상 10미만의 정수에 대해서 0부터 순차적으로 변수 num에 대입
    print(num)		# range(start, stop, step) → range(0, 10, 1)

0
1
2
3
4
5
6
7
8
9

In [2]:
test_score = [80, 70, 90, 100]
for score in test_score:	# 리스트 test_socre에 저장되어 있는 값을 하나씩 읽어 변수 score에 대입
    print(score)

80
70
90
100

In [4]:
test_name = ['국어', '영어', '수학', '과학']
for name in test_name:	# 리스트 test_name에 저장되어 있는 값을 하나씩 읽어 변수 name에 대입
    print(name)

국어
영어
수학
과학

In [5]:
if (10 > 0):
    print('안녕하세요!')

안녕하세요!

In [8]:
password = input('패스워드를 입력하세요: ')

if (int(password) ==  12345):
    print('로그인 되었습니다.')			# if 조건문이 참일 경우 실행
elif (int(password) == 11111):
    print('관리자 권한입니다.')			# if 조건문이 거짓이고 elif 조건문이 참일 경우 실행
else:
    print('로그인에 실패하였습니다.')		# if, elif 조건문이 모두 거짓일 경우 실행

패스워드를 입력하세요: 11
로그인에 실패하였습니다.

In [9]:
arr1 = [1, 2, 3, 4, 5]
print(type(arr1))		# type( ): 변수 arr의 자료형을 반환합니다

<class 'list'>

In [16]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(type(arr2))

<class 'list'>

In [11]:
arr3 = list('월화수목금토')
print(arr3)

['월', '화', '수', '목', '금', '토']

In [14]:
arr3 = [1, 2, 3, 4, 5, '월', '화', '수', '목', '금', '토']
print(type(arr3))

<class 'list'>

In [15]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2)

['월', '화', '수', '목', '금', '토']

In [17]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2[0])
print(arr2[1])
print(arr2[2])
print(arr2[3])
print(arr2[4])
print(arr2[5])

월
화
수
목
금
토

In [18]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2[-1])		# 뒤에서 1번째: ‘토’
print(arr2[-2])		# 뒤에서 2번째: '금'
print(arr2[-3])		# 뒤에서 3번째: ‘목’
print(arr2[-4])		# 뒤에서 4번째: '수'
print(arr2[-5])		# 뒤에서 5번째: '화'
print(arr2[-6])		# 뒤에서 6번째: '월'

토
금
목
수
화
월

In [19]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2[0:2])		# 0이상 2미만의 구간
print(arr2[1:4])		# 1이상 4미만의 구간
print(arr2[1:])		# 1이상의 구간
print(arr2[:3])		# 3미만의 구간
print(arr2[:])		# 맨 앞에서부터 맨 끝까지

['월', '화']
['화', '수', '목']
['화', '수', '목', '금', '토']
['월', '화', '수']
['월', '화', '수', '목', '금', '토']

In [20]:
arr1 = [1, 2, 3, 4, 5]
print(arr1)
print(len(arr1))		# len( ): 리스트의 길이 (Length)를 반환합니다.
arr1.append(6)
print(arr1)
print(len(arr1))

[1, 2, 3, 4, 5]
5
[1, 2, 3, 4, 5, 6]
6

In [21]:
arr2 = ['월', '화', '수', '목', '금', '토']
print(arr2)
print(len(arr2))
arr2.append('일')
print(arr2)
print(len(arr2))

['월', '화', '수', '목', '금', '토']
6
['월', '화', '수', '목', '금', '토', '일']
7